@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&family=Poppins:wght@200;300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-poppins bg-neutral-100;
  }
  a,
  Link {
    @apply text-inherit;
  }
}

.overflow_text {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

::-webkit-scrollbar {
  width: 0;
}
